<% layout('./layouts/boilerplate')%>
  <h1>Chicken Palace</h1>
  <a href="/chickens/new">Add new Chicken</a>
  <% for (chicken of allChickens) { %>
  <div>
  <p>
    Name: <a href="/chickens/<%=chicken.id%>"><%=chicken.name%></a><br>
    Breed: <%=chicken.breed%><br>
    Weight: <%=chicken.weight%><br>
    Birthday: <%=chicken.birthday%><br>
  </p>
  </div>
  <% } %>